@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#app,
html,
body {
  height: 100%;
  width: 100%;
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  overflow: hidden;
}

.dark #app,
.dark html,
.dark body {
  height: 100%;
  width: 100%;
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  overflow: hidden;
}

:root {
  --background-noise: url('../../assets/utils/noise.svg');
  --background: 22 66% 94%;
  --foreground: 345 13% 18%;
  --muted: 20 38% 89%;
  --muted-foreground: 348 8% 24%;
  --popover: 345 29% 86%;
  --popover-foreground: 344 9% 32%;
  --border: 359 100% 89%;
  --input: 21 67% 94%;
  --card: 45 100% 99%;
  --card-foreground: 345 13% 18%;
  --primary: 207 100% 77%;
  --primary-foreground: 205 13% 18%;
  --secondary: 197 100% 89%;
  --secondary-foreground: 186 8% 24%;
  --accent: 129 60% 85%;
  --accent-foreground: 348 8% 24%;
  --destructive: 347 100% 68%;
  --destructive-foreground: 348 8% 24%;
  --ring: 129 60% 85%;
  --radius: 0.5rem;
  --font-sans: Atkinson Hyperlegible, sans-serif;
  --sb-size: 10px;
}

.colorPeek {
  --background: hsl(23, 100%, 50%);
  --foreground: hsl(345 13% 18%);
  --muted: hsl(20 38% 89%);
  --muted-foreground: hsl(348 8% 24%);
  --popover: hsl(345, 29%, 86%);
  --popover-foreground: hsl(344 9% 32%);
  --border: hsl(359 100% 89%);
  --input: hsl(21, 67%, 94%);
  --card: hsl(45, 100%, 99%);
  --card-foreground: hsl(345 13% 18%);
  --primary: hsl(207, 100%, 77%);
  --primary-foreground: hsl(205, 13%, 18%);
  --secondary: hsl(197, 100%, 89%);
  --secondary-foreground: hsl(186, 8%, 24%);
  --accent: hsl(129 60% 85%);
  --accent-foreground: hsl(348 8% 24%);
  --destructive: hsl(347, 100%, 68%);
  --destructive-foreground: hsl(348 8% 24%);
  --ring: hsl(129 60% 85%);
  --radius: 0.5rem;
  --font-sans: Atkinson Hyperlegible, sans-serif;
}

.dark:root {
  --background-noise: url('../../assets/utils/noise.svg');
  --background: 247 24% 7%;
  --foreground: 60 100% 100%;
  --muted: 240 5% 15%;
  --muted-foreground: 235 15% 70%;
  --popover: 240 5% 15%;
  --popover-foreground: 60 100% 100%;
  --border: 339 78% 55%;
  --input: 231 30% 26%;
  --card: 236 15% 21%;
  --card-foreground: 60 100% 100%;
  --secondary: 197 100% 89%;
  --secondary-foreground: 186 8% 24%;
  --accent: 129 60% 85%;
  --accent-foreground: 348 8% 24%;
  --accent: 129 61% 73%;
  --accent-foreground: 348 8% 24%;
  --destructive: 347 100% 68%;
  --destructive-foreground: 348 8% 24%;
  --ring: 129 61% 73%;
  --radius: 0.5rem;
  --font-sans: Atkinson Hyperlegible, sans-serif;
}

.neon:root {
  --background-noise: url('../../assets/utils/noise.svg');
  --background: 247 24% 7%;
  --foreground: 60 100% 100%;
  --muted: 240 5% 15%;
  --muted-foreground: 235 15% 70%;
  --popover: 240 5% 15%;
  --popover-foreground: 60 100% 100%;
  --border: 339 78% 55%;
  --input: 120 100% 50%;
  --card: 86 100% 64%;
  --card-foreground: 60 100% 100%;
  --primary: 339 78% 55%;
  --primary-foreground: 348 31% 90%;
  --secondary: 7 86% 62%;
  --secondary-foreground: 349 52% 96%;
  --accent: 129 61% 73%;
  --accent-foreground: 348 8% 24%;
  --destructive: 347 100% 68%;
  --destructive-foreground: 346 43% 90%;
  --ring: 129 61% 73%;
  --radius: 0.5rem;
  --font-sans: Atkinson Hyperlegible, sans-serif;
}

.dark.colorPeek {
  --background: hsl(247, 24%, 7%);
  --foreground: hsl(60, 100%, 100%);
  --muted: hsl(240, 5%, 15%);
  --muted-foreground: hsl(235, 15%, 70%);
  --popover: hsl(240, 5%, 15%);
  --popover-foreground: hsl(60, 100%, 100%);
  --border: hsl(339, 78%, 55%);
  --input: hsl(231, 30%, 26%);
  --card: hsl(236, 15%, 21%);
  --card-foreground: hsl(60, 100%, 100%);
  --primary: hsl(339, 78%, 55%);
  --primary-foreground: hsl(348, 31%, 90%);
  --secondary: hsl(7, 86%, 62%);
  --secondary-foreground: hsl(349, 52%, 96%);
  --accent: hsl(129, 61%, 73%);
  --accent-foreground: hsl(348 8% 24%);
  --destructive: hsl(347, 100%, 68%);
  --destructive-foreground: hsl(346, 43%, 90%);
  --ring: hsl(129, 61%, 73%);
  --radius: 0.5rem;
  --font-sans: Atkinson Hyperlegible, sans-serif;
}

::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
  margin: 0.5rem;
}

::-webkit-scrollbar-track {
  background: hsl(var(--background) / 0.1);
  border-radius: 10px;
  margin: 4rem;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--foreground) / 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--primary) / 0.5);
}
